{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags apphooks_config_tags sekizai_tags %}


{% block title %}
    {{ article.title }} - {{ block.super }}
{% endblock %}



{% block newsblog_content %}


    {% addtoblock "css" %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/article_detail.css" />
    {% endaddtoblock %}

    {% include "aldryn_newsblog/includes/article.html" with detail_view="true" %}


    <!-- Prev & next articles block -->
    {% if  current_language == "en" %}
        <div class="prev_and_next_urls">
            {% if prev_article %}
                <a href="{{ prev_article.get_absolute_url }}">&larr; Previous Trip </a>
            {% endif %}
                <a href="{% namespace_url "article-list" %}">Back to all Trips </a>
            {% if next_article %}
                <a href="{{ next_article.get_absolute_url }}">Next Trip &rarr; </a>
            {% endif %}
        </div>
    {% else %}
        <div class="prev_and_next_urls">
            {% if prev_article %}
                <a href="{{ prev_article.get_absolute_url }}">&larr; Пердыдущая запись</a>
            {% endif %}
                <a href="{% namespace_url "article-list" %}">Ко всем записям</a>
            {% if next_article %}
                <a href="{{ next_article.get_absolute_url }}">Следующая запись &rarr;</a>
            {% endif %}
        </div>
    {% endif %}







    <!-- Prev & next articles block -->

    <hr>


    <div class="trips_footer">
        {% static_placeholder "newsblog_social" %}
    </div>

{% endblock %}

